/example/example
/cmd/binclude/binclude
/internal/inject
/binexec/example/testprg/testprg
/asset1.txt
binexec/example/testprg/testprg.exe
test/test.go
/test
binexec/example/testprg/testprg_darwin
bincludegen/go.mod.txt
coverage.txt
bincludegen/testdata/bench/includedPrg/includedPrg
*.out
bincludegen/testdata/bench/binclude.go
*.test
